In [2]:
import pandas as pd
import statsmodels.formula.api as smf
from sklearn.preprocessing import OneHotEncoder as ohe

In [3]:
df = pd.read_csv('./data_with_hipo_o_vliyanii factors_na_birthday2.csv')
df.head()

,id_w,k11_r,age,gr_educ,i_h4,y1,y2,y3,y4,y5,...,m9,m12_1,m12_2,m12_3,m12_4,m12_5,m12_6,m12_7,reb,poyavlenie_child
0,2020,25000.0,29,3,2,2.0,NaN,NaN,1.0,7,...,NaN,1.0,3.0,3.0,2.0,2.0,1.0,3.0,False,False
1,2020,25000.0,38,3,2,1.0,1.0,2010.0,1.0,7,...,4.0,3.0,1.0,1.0,2.0,1.0,2.0,3.0,False,False
2,2020,35000.0,42,3,2,1.0,1.0,1994.0,1.0,7,...,NaN,2.0,2.0,2.0,2.0,2.0,2.0,3.0,False,False
3,2020,20000.0,19,1,2,2.0,NaN,NaN,1.0,2,...,1.0,2.0,20000.0,3.0,20000.0,2.0,2.0,4.0,True,False
4,2020,20000.0,27,1,2,1.0,1.0,2010.0,1.0,5,...,NaN,1.0,3.0,3.0,2.0,2.0,2.0,20000.0,False,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15252 entries, 0 to 15251
Data columns (total 67 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_w              15252 non-null  int64
 1   k11_r             15252 non-null  float64
 2   age               15252 non-null  int64
 3   gr_educ           15252 non-null  int64
 4   i_h4              15252 non-null  int64
 5   y1                13535 non-null  float64
 6   y2                4450 non-null   float64
 7   y3                6167 non-null   float64
 8   y4                13535 non-null  float64
 9   y5                15252 non-null  int64
 10  y10               13535 non-null  float64
 11  y10a              1717 non-null   float64
 12  y10b              1717 non-null   float64
 13  y10c              1717 non-null   float64
 14  y11               15252 non-null  int64
 15  y12               15252 non-null  int64
 16  y13               13082 non-null  float64
 17  y14               15252 non-null  int64
 18  y15               13535 non-null  float64
 19  y16               15252 non-null  int64
 20  y6_1              15252 non-null  int64
 21  y6_2              15252 non-null  int64
 22  y6_3              15252 non-null  int64
 23  y7_1              13535 non-null  float64
 24  y7_2              13535 non-null  float64
 25  y7_3              7251 non-null   float64
 26  y8                15252 non-null  int64
 27  y9                15252 non-null  int64
 28  y18_1             1317 non-null   float64
 29  y18_2             1317 non-null   float64
 30  y18_3             1317 non-null   float64
 31  y18_4             1317 non-null   float64
 32  y18_5             1317 non-null   float64
 33  k1                15252 non-null  int64
 34  k5                10981 non-null  float64
 35  k6                8787 non-null   float64
 36  k7                13 non-null     float64
 37  k9                10597 non-null  float64
 38  k10               10607 non-null  float64
 39  k31_1             10981 non-null  float64
 40  k31_2             10981 non-null  float64
 41  k31_3             10981 non-null  float64
 42  k31_4             10981 non-null  float64
 43  k31_5             10981 non-null  float64
 44  k31_6             10981 non-null  float64
 45  k31_7             10981 non-null  float64
 46  k31_8             10981 non-null  float64
 47  k31_9             10981 non-null  float64
 48  k31_10            10981 non-null  float64
 49  k31_11            10981 non-null  float64
 50  k31_12            10981 non-null  float64
 51  k31_13            10981 non-null  float64
 52  m4                7900 non-null   float64
 53  m5                7900 non-null   float64
 54  m5_1              2003 non-null   float64
 55  m7                12976 non-null  float64
 56  m8                705 non-null    float64
 57  m9                7417 non-null   float64
 58  m12_1             13535 non-null  float64
 59  m12_2             13535 non-null  float64
 60  m12_3             13535 non-null  float64
 61  m12_4             13535 non-null  float64
 62  m12_5             13535 non-null  float64
 63  m12_6             13535 non-null  float64
 64  m12_7             13535 non-null  float64
 65  reb               15252 non-null  bool
 66  poyavlenie_child  15252 non-null  bool
dtypes: bool(2), float64(50), int64(15)
memory usage: 7.6 MB

In [5]:
df.k11_r = df.k11_r.astype(int)
df.poyavlenie_child = df.poyavlenie_child.astype(int)

In [1]:
log_reg = smf.logit("poyavlenie_child ~ k66_r", data=df).fit()
log_reg.summary()

NameError: name 'smf' is not defined

In [7]:
def get_ohe(train):
    temp_df = pd.DataFrame(data=ohe.transform(train[category_var]), columns=ohe.get_feature_names_out())
    data = pd.concat([train.reset_index(drop=True), temp_df], axis=1)
    data = data.drop(columns=category_var, axis=1)
    return data

# get_ohe()

TypeError: get_ohe() missing 1 required positional argument: 'train'