In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_excel('./dano_base--292181464 (2).xlsx', sheet_name='Sheet1')
df.head()

,Unnamed: 0,application_id,primary_income_dt,party_rk,product_code,account_own_flg,sch_flg,success_flg,validation_flg,reject_flg,...,inkas_flg,cash_out_flg,vzr_flg,concierge_flg,cb_flg,invest_flg,mobile_flg,out_c2c_flg,car_ins_flg,percent_flg
0,0,3379c95477164e679ef80291a36a50ec,2023-03-05,772887927.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2e23732fef4749e1ae7a89ec978b7bf7,2023-03-05,858351423.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,df795c04bd834c0d8a2960d3b0593938,2023-03-09,864683115.0,DCV,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,7c2512d6bf2d47fe91eefc75f8062698,2023-03-13,294312227.0,DCV,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,ca547a88dd0c42f2a50657af01b87317,2023-03-03,815163498.0,DCV,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73712 entries, 0 to 73711
Data columns (total 66 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 73712 non-null  int64
 1   application_id             73711 non-null  object
 2   primary_income_dt          73712 non-null  datetime64[ns]
 3   party_rk                   73709 non-null  float64
 4   product_code               73712 non-null  object
 5   account_own_flg            73712 non-null  int64
 6   sch_flg                    73712 non-null  int64
 7   success_flg                73712 non-null  int64
 8   validation_flg             73712 non-null  int64
 9   reject_flg                 73712 non-null  int64
 10  account_flg                73712 non-null  int64
 11  utilization_flg            73712 non-null  int64
 12  ccr_account_first_open_dt  31029 non-null  datetime64[ns]
 13  dep_account_first_open_dt  1925 non-null   datetime64[ns]
 14  cur_account_first_open_dt  72904 non-null  datetime64[ns]
 15  sav_account_first_open_dt  27508 non-null  datetime64[ns]
 16  cln_account_first_open_dt  3745 non-null   datetime64[ns]
 17  pos_account_first_open_dt  6896 non-null   datetime64[ns]
 18  subscription_time          41818 non-null  float64
 19  channel_desc               73712 non-null  object
 20  region_size                72927 non-null  object
 21  trial_type                 43353 non-null  object
 22  metall_flg                 73712 non-null  int64
 23  age_segment                73645 non-null  object
 24  res_segment                73645 non-null  object
 25  open_cc_flg                73712 non-null  int64
 26  util_cc_flg                73712 non-null  int64
 27  open_cn_flg                73712 non-null  int64
 28  util_cn_flg                73712 non-null  int64
 29  open_sav_flg               73712 non-null  int64
 30  util_sav_flg               73712 non-null  int64
 31  open_dep_flg               73712 non-null  int64
 32  util_dep_flg               73712 non-null  int64
 33  open_mb_flg                73712 non-null  int64
 34  util_mb_flg                73712 non-null  int64
 35  open_inv_flg               73712 non-null  int64
 36  util_inv_flg               73712 non-null  int64
 37  in_5ms_cnt                 73712 non-null  int64
 38  in_3ms_cnt                 71576 non-null  float64
 39  in_1ms_cnt                 71447 non-null  float64
 40  out_5ms_puc_cnt            73712 non-null  int64
 41  out_3ms_puc_cnt            71576 non-null  float64
 42  out_1ms_puc_cnt            71447 non-null  float64
 43  out_5ms_uch_cnt            73712 non-null  int64
 44  out_3ms_uch_cnt            71576 non-null  float64
 45  out_1ms_uch_cnt            71447 non-null  float64
 46  out_5ms_all_cnt            73712 non-null  int64
 47  out_3ms_all_cnt            71576 non-null  float64
 48  out_1ms_all_cnt            71447 non-null  float64
 49  in_total_5ms_amt           73712 non-null  float64
 50  in_total_3ms_amt           73712 non-null  float64
 51  in_total_1ms_amt           73712 non-null  float64
 52  out_total_5ms_amt          73712 non-null  float64
 53  out_total_3ms_amt          73712 non-null  float64
 54  out_total_1ms_amt          73712 non-null  float64
 55  lk_flg                     73712 non-null  int64
 56  inkas_flg                  73712 non-null  int64
 57  cash_out_flg               73712 non-null  int64
 58  vzr_flg                    73712 non-null  int64
 59  concierge_flg              73712 non-null  int64
 60  cb_flg                     73712 non-null  int64
 61  invest_flg                 73712 non-null  int64
 62  mobile_flg                 73712 non-null  int64
 63  out_c2c_flg                73712 non-null  int64
 64  car_ins_flg                73712 non-null  int64
 65  percent_flg                73712 non-null  int64
dtypes: datetime64[ns](7), float64(16), int64(36), object(7)
memory usage: 37.1+ MB

In [9]:
len(df.party_rk.unique())

67370

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73712 entries, 0 to 73711
Data columns (total 66 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 73712 non-null  int64
 1   application_id             73711 non-null  object
 2   primary_income_dt          73712 non-null  datetime64[ns]
 3   party_rk                   73709 non-null  float64
 4   product_code               73712 non-null  object
 5   account_own_flg            73712 non-null  int64
 6   sch_flg                    73712 non-null  int64
 7   success_flg                73712 non-null  int64
 8   validation_flg             73712 non-null  int64
 9   reject_flg                 73712 non-null  int64
 10  account_flg                73712 non-null  int64
 11  utilization_flg            73712 non-null  int64
 12  ccr_account_first_open_dt  31029 non-null  datetime64[ns]
 13  dep_account_first_open_dt  1925 non-null   datetime64[ns]
 14  cur_account_first_open_dt  72904 non-null  datetime64[ns]
 15  sav_account_first_open_dt  27508 non-null  datetime64[ns]
 16  cln_account_first_open_dt  3745 non-null   datetime64[ns]
 17  pos_account_first_open_dt  6896 non-null   datetime64[ns]
 18  subscription_time          41818 non-null  float64
 19  channel_desc               73712 non-null  object
 20  region_size                72927 non-null  object
 21  trial_type                 43353 non-null  object
 22  metall_flg                 73712 non-null  int64
 23  age_segment                73645 non-null  object
 24  res_segment                73645 non-null  object
 25  open_cc_flg                73712 non-null  int64
 26  util_cc_flg                73712 non-null  int64
 27  open_cn_flg                73712 non-null  int64
 28  util_cn_flg                73712 non-null  int64
 29  open_sav_flg               73712 non-null  int64
 30  util_sav_flg               73712 non-null  int64
 31  open_dep_flg               73712 non-null  int64
 32  util_dep_flg               73712 non-null  int64
 33  open_mb_flg                73712 non-null  int64
 34  util_mb_flg                73712 non-null  int64
 35  open_inv_flg               73712 non-null  int64
 36  util_inv_flg               73712 non-null  int64
 37  in_5ms_cnt                 73712 non-null  int64
 38  in_3ms_cnt                 71576 non-null  float64
 39  in_1ms_cnt                 71447 non-null  float64
 40  out_5ms_puc_cnt            73712 non-null  int64
 41  out_3ms_puc_cnt            71576 non-null  float64
 42  out_1ms_puc_cnt            71447 non-null  float64
 43  out_5ms_uch_cnt            73712 non-null  int64
 44  out_3ms_uch_cnt            71576 non-null  float64
 45  out_1ms_uch_cnt            71447 non-null  float64
 46  out_5ms_all_cnt            73712 non-null  int64
 47  out_3ms_all_cnt            71576 non-null  float64
 48  out_1ms_all_cnt            71447 non-null  float64
 49  in_total_5ms_amt           73712 non-null  float64
 50  in_total_3ms_amt           73712 non-null  float64
 51  in_total_1ms_amt           73712 non-null  float64
 52  out_total_5ms_amt          73712 non-null  float64
 53  out_total_3ms_amt          73712 non-null  float64
 54  out_total_1ms_amt          73712 non-null  float64
 55  lk_flg                     73712 non-null  int64
 56  inkas_flg                  73712 non-null  int64
 57  cash_out_flg               73712 non-null  int64
 58  vzr_flg                    73712 non-null  int64
 59  concierge_flg              73712 non-null  int64
 60  cb_flg                     73712 non-null  int64
 61  invest_flg                 73712 non-null  int64
 62  mobile_flg                 73712 non-null  int64
 63  out_c2c_flg                73712 non-null  int64
 64  car_ins_flg                73712 non-null  int64
 65  percent_flg                73712 non-null  int64
dtypes: datetime64[ns](7), float64(16), int64(36), object(7)
memory usage: 37.1+ MB

In [15]:
(df.success_flg == 1).sum()

19299